
Meatyceiver2/bin/Debug/UnityEngine.UI.dll
Meatyceiver2/bin/Debug/UnityEngine.dll
Meatyceiver2/bin/Debug/Mono.Cecil.dll
Meatyceiver2/bin/Debug/0Harmony.dll
Meatyceiver2/bin/Debug/Assembly-CSharp-firstpass.dll
Meatyceiver2/bin/Debug/Assembly-CSharp.dll
Meatyceiver2/bin/Debug/BepInEx.dll
Meatyceiver2/bin/Debug/BepInEx.Harmony.dll
.vs/Meatyceiver2/v16/Server/sqlite3/db.lock
.vs/Meatyceiver2/v16/Server/sqlite3/storage.ide
.vs/Meatyceiver2/v16/Server/sqlite3/storage.ide-shm
.vs/Meatyceiver2/v16/Server/sqlite3/storage.ide-wal
*.dll
.vs/Meatyceiver2/v16/.suo
Meatyceiver2/bin/Debug/Meatyceiver2.dll
Meatyceiver2/bin/Debug/Meatyceiver2.pdb
Meatyceiver2/obj/Debug/Meatyceiver2.dll
Meatyceiver2/obj/Debug/Meatyceiver2.pdb
